/* div.block-container{padding-top: 1rem;}
.MainMenu {visibility: hidden}
.footer {visibility: hidden}
.header {visibility: hidden;} */

.upper-data {
  /* background-color: #FFFFFF;
  border: 1px solid #CCCCCC; */
  padding: 3% 3%;
  border-radius: 5px;
  border-left: 0.5rem solid #2d42f9;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.css-10oheav {
  padding-top: 40px;
}

div.css-12w0qpk {
  /* background-color: #FFFFFF;
  border: 1px solid #CCCCCC; */
  padding: 3% 3%;
  border-radius: 5px;
  border-left: 0.5rem solid #2d42f9;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}
.label.css-17c4ue e1i5pmia2 {
  color: #36b9cc !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.css-10oheav {
  padding-top: 40px;
}

.css-1r6slb0 {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 3% 3%;
  border-radius: 5px;
  border-left: 0.5rem solid #2d42f9;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}


